HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Java build ###
*.class
src/main/resources/static/assets/icons/icons8-person-94.png
src/main/resources/static/assets/css/chatbot.css
src/main/resources/static/assets/icons/icons8-chat-bot-64.png
src/main/resources/static/uri.js
src/main/resources/static/cc-assistant.html
src/main/resources/static/assets/icons/icons8-person-94.png
src/main/resources/static/assets/css/chatbot.css
src/main/resources/static/assets/js/chatbot.js
volumes/sqlite.db
